@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';
@import '@nuxt/ui';
@import '@/style/font.css';
@import '@/style/main.css';
@import '@/style/prose.css';


@theme {
    /* COLORS */
    --font-inter: "Inter", sans-serif;
    --color-white900: #ffffff;
    --color-white800: #fdfeff;
    --color-white700: #fafafb;
    --color-white600: #e5e8ee;
    --color-white500: #e2eaf6;
    --color-white400: #eef4ff;

    --color-black900: #000000;
    --color-black800: #14181f;

    --color-gray600: #787b81;
    --color-gray500: #e8e9eb;
    --color-gray400: #687488;
    --color-gray300: #38404e;
    --color-gray200: #595f67;
    --color-gray100: #9aa0aa;

    --color-blue900: #0056a6;
    --color-blue800: #002d72;
    --color-blue700: #4991ff;
    --color-blue600: #0567c3;
    --color-blue500: #113c64;
    --color-blue400: #4c5d77;

    --color-yellow500: #ffe500;
}