@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
    /* COLORS */
    --font-inter: "Inter", sans-serif;
    --color-white900: #ffffff;
    --color-white800: #fdfeff;
    --color-white700: #fafafb;
    --color-white600: #e5e8ee;
    --color-white500: #e2eaf6;
    --color-white400: #eef4ff;

    --color-black900: #000000;
    --color-black800: #14181f;

    --color-gray600: #787b81;
    --color-gray500: #e8e9eb;
    --color-gray400: #687488;
    --color-gray300: #38404e;
    --color-gray200: #595f67;
    --color-gray100: #9aa0aa;

    --color-blue900: #0056a6;
    --color-blue800: #002d72;
    --color-blue700: #4991ff;
    --color-blue600: #0567c3;
    --color-blue500: #113c64;
    --color-blue400: #4c5d77;

    --color-yellow500: #ffe500;
    --color-brand: #0D90CF;
}


body {
    @apply bg-gray-50 text-black800 dark:bg-gray-800 dark:text-white900 font-inter;
}

.container {
    @apply w-full max-w-[1353px] sm:mx-auto px-2 sm:px-4 xl:px-0;
}

.mb72 {
    @apply mb-[72px];
}

.gradient {
    @apply absolute bottom-0 left-0 right-0 p-4 space-y-1 lg:p-8 lg:space-y-2 bg-gradient-to-t from-[#002D72] from-10% via-[#002D72]/60 via-70% to-[#002D72]/0 pt-10;
}

button {
    @apply cursor-pointer;
}

.img {
    @apply w-full h-full object-cover object-center;
}

.title {
    @apply line-clamp-2 w-fit leading-tight text-lg lg:text-xl xl:hover:text-blue900 active:text-blue900 xl:dark:hover:text-gray-300 dark:active:text-gray-300;
}
.right-title {
    @apply line-clamp-3 w-fit leading-tight  xl:hover:text-blue900 active:text-blue900 xl:dark:hover:text-gray-300 dark:active:text-gray-300;
}

.date {
    @apply text-gray-500 dark:text-gray-100 text-sm;
}

.see {
    @apply text-blue400 dark:text-blue600 xl:dark:hover:text-blue700 text-lg sm:text-xl xl:hover:text-blue900 active:text-blue900 dark:active:text-blue700;
}

.share {
    @apply size-10 flex items-center justify-center bg-white rounded-full hover:bg-brand hover:text-white border border-gray-200 text-gray-600 dark:border-gray-500/20 dark:text-gray-600 hover:border-brand  dark:hover:border-brand dark:hover:bg-brand
}
.widget {
    @apply ring ring-gray-200 dark:ring-gray-500/20 px-4 py-0 divide-y divide-gray-200 dark:divide-gray-500/20 rounded-lg bg-white shadow dark:bg-gray-700
}
.no-img {
    @apply line-clamp-5;

    img {
        @apply hidden
    }

}

/* #####14181F */
.article__box {
    @apply relative z-30 space-y-4 p-4 shadow rounded-lg;

    p {
        @apply text-justify text-base leading-7 font-light;
    }

    strong {
        @apply font-semibold text-base;
    }

    img {
        @apply w-full object-cover object-center rounded-md mb-2;
    }

    a {
        @apply text-[#0567c3] underline;
    }
}

.article__poster {
    @apply h-24 mt-7.5;

    img {
        @apply w-full h-full object-cover object-center;
    }
}

.article__most {
    @apply mt-5 bg-white p-5;
}

.article__send {
    @apply flex items-center gap-5 mt-10;

    .item {
        @apply px-2.5 py-2 rounded bg-[#0567c3] flex items-center justify-center;

        &.telegram {
            @apply bg-[#229ed9];
        }

        &.facebook {
            @apply bg-[#4267b2];
        }

        &.twitter {
            @apply bg-[#1da1f2];
        }
    }
}

.article__subtitle {
    @apply mb-2.5 text-lg font-semibold;
}

/* Media Queries */
@media (max-width: 1024px) {
    .article__box p {
        @apply text-[16px] leading-6;
    }
}

@media (max-width: 500px) {
    .article__box p {
        @apply text-[15px] leading-5;
    }
}